.scroll-btn {
    background: #ee9ca7;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    right: 20px;
    bottom: -60px;
    z-index: 1000;
    transform: scale(.5);
    transition: all .75s ease;
}

.scroll-btn.show {
    bottom: 20px;
    transform: scale(1);
}

.scroll-btn:hover {
    background: #D76D77;
    box-shadow: 0px 8px 15px #eea2ac94;
}

.scroll-btn:active {
    box-shadow: 0px 8px 15px #eea2ac94, 0px 0px 0px 8px #eea2ac94;
    transition: all .1s ease;
}